body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
  // background-repeat: no-repeat;
  height: 100vh;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.card{
  background-color: rgba(0, 0, 0, 0.781);
  color: azure;
  border: solid 0;
  border-radius: 15px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  margin: 1rem;
  h2{
    text-align: center ;
    padding: 1rem;
    text-transform: uppercase;
  }
  p{
    text-align: start;
    padding: 1rem;
    margin: 1rem;
  }
 
}
.inputs{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  input{
    outline: none;
    line-height: 2rem;
    border: solid 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
     width: 100%;
  }
  span{
   background-color: rgb(15, 223, 119);
   height: 2rem ;
   display: flex;
   width: 40px;
   align-items: center;
   justify-content: center;
   color: aliceblue;
   z-index: 9999;
   margin-left: 5px;
   box-shadow: 2px 3px 3px black;
   border-top-right-radius: 13px;
   border-bottom-right-radius: 13px;
  }
}